* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-base);
  color: var(--light);
  background-color: var(--bg-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  margin: 0;
  height: 0;
  width: 0;
  visibility: hidden;
}
